@tailwind base;
@tailwind components;
@tailwind utilities;
.table-auto {
    width: auto;
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
.details.collapse{
  width: 40%;
}
  
  